---
import { getCollection } from 'astro:content';
import BlogCard from '../../components/BlogCard.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<section class="max-w-5xl mx-auto px-4 py-8">
		<h1 class="text-4xl font-bold mb-8">Blog</h1>
		<ul class="grid grid-cols-1 md:grid-cols-2 gap-8 list-none">
			{posts.map((post, index) => (
				<div class={index === 0 ? 'md:col-span-2' : ''}>
					<BlogCard 
						href={`/blog/${post.id}/`}
						title={post.data.title}
						pubDate={post.data.pubDate}
						heroImage={post.data.heroImage}
						featured={index === 0}
					/>
				</div>
			))}
		</ul>
	</section>
</BaseLayout>
